@import "src/style/header";
@import "src/style/footer";
@import "src/style/home";
@import "src/style/popular";
@import "src/style/topRated";
@import "src/style/movieDetels";
@import "src/style/actors";
@import "src/style/trailer";
@import "src/style/actorDetailc";
@import "src/style/boxes";
@import "src/style/personMovie";

*{
  margin: 0;
  padding: 0;
  border: none;
}
//.container{
//  width: 80%;
//}
